/* line 4, ../sass/home.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #3a3a3a;
}

/* line 12, ../sass/home.scss */
button svg path {
  fill: #3a3a3a;
}

/* line 15, ../sass/home.scss */
.playlists {
  transition-duration: 0.75s;
  transition-timing-function: cubic-bezier(0.05, 0.91, 0.43, 0.92);
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100vw;
  z-index: 1;
  left: -50vw;
}
/* line 26, ../sass/home.scss */
.playlists .playlists-header {
  height: 50px;
  display: flex;
  flex: 0 1 auto;
}
/* line 31, ../sass/home.scss */
.playlists .playlists-header img {
  margin-left: 15px;
  flex: 0 1 25px;
  width: 25px;
  height: 25px;
  align-self: center;
}
/* line 39, ../sass/home.scss */
.playlists .playlists-header h2 {
  text-align: center;
  flex: 1 1 0;
  justify-content: center;
  align-self: center;
  font-family: 'Lato';
  font-size: 1.25em;
  font-weight: 400;
  text-transform: uppercase;
}
/* line 50, ../sass/home.scss */
.playlists .playlists-header button {
  border: 0;
  background-color: transparent;
}
/* line 54, ../sass/home.scss */
.playlists .playlists-header button:focus {
  outline: none;
}
/* line 57, ../sass/home.scss */
.playlists .playlists-header button svg {
  margin-right: 15px;
  flex: 0 1 22px;
  width: 22px;
  height: auto;
}
/* line 66, ../sass/home.scss */
.playlists .list-container {
  background-color: #3a3a3a;
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  justify-content: center;
}
/* line 73, ../sass/home.scss */
.playlists .list-container ul {
  list-style-type: none;
  text-align: center;
}
/* line 77, ../sass/home.scss */
.playlists .list-container ul li {
  margin: 20px 0;
}
/* line 80, ../sass/home.scss */
.playlists .list-container ul li hr {
  margin: 0 auto;
  width: 50%;
  height: 2px;
  border: 0;
  background-color: #fff;
  opacity: 0.5;
}
/* line 88, ../sass/home.scss */
.playlists .list-container ul li a {
  font-family: 'Lato';
  font-size: 1.25em;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFF;
}

/* MENU */
/* line 103, ../sass/home.scss */
#nav-icon1 {
  position: relative;
  cursor: pointer;
}

/* line 108, ../sass/home.scss */
#nav-icon1 span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: black;
  border-radius: 25px;
  opacity: 1;
  left: 0;
}

/* line 119, ../sass/home.scss */
#nav-icon1 span:nth-child(1) {
  top: 0px;
}

/* line 123, ../sass/home.scss */
#nav-icon1 span:nth-child(2) {
  top: 10px;
  width: 80%;
}

/* line 128, ../sass/home.scss */
#nav-icon1 span:nth-child(3) {
  top: 20px;
}

/* END MENU */
/* line 134, ../sass/home.scss */
body {
  height: 100%;
  width: 100%;
}

/* line 139, ../sass/home.scss */
main {
  background-color: white;
  z-index: 2;
  position: relative;
  height: 100vh;
  left: 0;
  transition-duration: 0.75s;
  transition-timing-function: cubic-bezier(0.05, 0.91, 0.43, 0.92);
}
/* line 148, ../sass/home.scss */
main header {
  position: sticky;
  width: 100%;
  display: flex;
  height: 50px;
  box-shadow: 0px 2px 2px 0px #a8a8a8;
}
/* line 155, ../sass/home.scss */
main header img {
  flex: 0 1 25px;
  height: 25px;
  align-self: center;
  margin-right: 15px;
}
/* line 162, ../sass/home.scss */
main header h2 {
  text-align: center;
  flex: 1 1 0;
  justify-content: center;
  align-self: center;
  font-family: 'Lato';
  font-size: 1.25em;
  font-weight: 400;
  text-transform: uppercase;
}
/* line 173, ../sass/home.scss */
main header #nav-icon1 {
  height: 22px;
  flex: 0 1 25px;
  align-self: center;
  margin-left: 15px;
}
/* line 180, ../sass/home.scss */
main header span.menu {
  height: 2px;
  background-color: black;
  flex: 0 1 20px;
}
/* line 185, ../sass/home.scss */
main header span.menu::after {
  content: '';
  height: 2px;
  background-color: black;
  flex: 0 1 20px;
}
/* line 192, ../sass/home.scss */
main header span.menu::before {
  content: '';
  height: 2px;
  background-color: black;
  flex: 0 1 20px;
}
/* line 201, ../sass/home.scss */
main section {
  width: 90%;
  margin: 1.2em auto;
}
/* line 205, ../sass/home.scss */
main section div.img-wrapper {
  width: 100%;
  position: relative;
}
/* line 210, ../sass/home.scss */
main section div.layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #3a3a3a;
  opacity: 0.75;
}
/* line 220, ../sass/home.scss */
main section img {
  width: 100%;
}
/* line 224, ../sass/home.scss */
main section div.cmds {
  height: 75px;
  background-color: #3a3a3a;
  display: flex;
  justify-content: space-around;
}
/* line 230, ../sass/home.scss */
main section div.cmds svg {
  height: 50%;
  flex: 1 0 0;
  align-self: center;
}
/* line 235, ../sass/home.scss */
main section div.cmds svg path {
  fill: white;
}
/* line 241, ../sass/home.scss */
main section div.titles {
  position: absolute;
  z-index: 3;
  bottom: 20px;
  left: 20px;
  font-size: 1.75em;
  font-family: 'Lato';
}
/* line 249, ../sass/home.scss */
main section div.titles p.title::after {
  content: '';
  background-color: white;
  height: 2px;
  margin-top: 10px;
  margin-bottom: 7px;
  display: block;
  width: 60px;
}
/* line 259, ../sass/home.scss */
main section div.titles p {
  color: white;
}

/* line 266, ../sass/home.scss */
footer {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}
/* line 271, ../sass/home.scss */
footer div.button {
  width: 100px;
}
/* line 274, ../sass/home.scss */
footer div.button svg path {
  fill: #3a3a3a;
}

/* line 281, ../sass/home.scss */
#circle-loader-wrap {
  overflow: hidden;
  position: relative;
  width: 100px;
  height: 100px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1) inset;
  background-color: #3a3a3a;
  border-radius: 200px;
}
/* line 289, ../sass/home.scss */
#circle-loader-wrap:after {
  content: '2:43';
  text-align: center;
  line-height: 80px;
  font-family: 'Lato';
  font-weight: 800;
  font-size: 1.5em;
  position: absolute;
  left: 10px;
  top: 10px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
/* line 307, ../sass/home.scss */
#circle-loader-wrap div {
  overflow: hidden;
  position: absolute;
  width: 50%;
  height: 100%;
}
/* line 313, ../sass/home.scss */
#circle-loader-wrap .loader {
  position: absolute;
  left: 100%;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 1000px;
  background-color: white;
}
/* line 323, ../sass/home.scss */
#circle-loader-wrap .left-wrap {
  left: 0;
}
/* line 326, ../sass/home.scss */
#circle-loader-wrap .left-wrap .loader {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  transform-origin: 0 50% 0;
  -webkit-transform-origin: 0 50% 0;
  animation: loading-left 20s infinite linear;
  -webkit-animation: loading-left 20s infinite linear;
}
/* line 335, ../sass/home.scss */
#circle-loader-wrap .right-wrap {
  left: 50%;
}
/* line 337, ../sass/home.scss */
#circle-loader-wrap .right-wrap .loader {
  left: -100%;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  transform-origin: 100% 50% 0;
  -webkit-transform-origin: 100% 50% 0;
  animation: loading-right 20s infinite linear;
  -webkit-animation: loading-right 20s infinite linear;
}
@keyframes loading-left {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
@-webkit-keyframes loading-left {
  0% {
    -webkit-transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(180deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
  }
  75% {
    -webkit-transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(180deg);
  }
}
@keyframes loading-right {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
@-webkit-keyframes loading-right {
  0% {
    -webkit-transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
  }
  75% {
    -webkit-transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(180deg);
  }
}
