/* line 5, ../sass/home.scss */
html, body {
  overflow: hidden;
}

/* line 9, ../sass/home.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #3a3a3a;
}

/* line 16, ../sass/home.scss */
.playlists {
  transition-duration: 0.75s;
  transition-timing-function: ease-in-out;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100vw;
  z-index: 1;
  left: -50vw;
}
/* line 27, ../sass/home.scss */
.playlists .playlists-header {
  height: 50px;
  display: flex;
  flex: 0 1 auto;
}
/* line 32, ../sass/home.scss */
.playlists .playlists-header img {
  margin-left: 15px;
  flex: 0 1 25px;
  width: 25px;
  height: 25px;
  align-self: center;
}
/* line 40, ../sass/home.scss */
.playlists .playlists-header h2 {
  text-align: center;
  flex: 1 1 0;
  justify-content: center;
  align-self: center;
  font-family: 'Lato';
  font-size: 1.25em;
  font-weight: 400;
  text-transform: uppercase;
}
/* line 51, ../sass/home.scss */
.playlists .playlists-header button {
  border: 0;
  background-color: transparent;
}
/* line 55, ../sass/home.scss */
.playlists .playlists-header button:focus {
  outline: none;
}
/* line 58, ../sass/home.scss */
.playlists .playlists-header button svg {
  margin-right: 15px;
  flex: 0 1 22px;
  width: 22px;
  height: auto;
}
/* line 67, ../sass/home.scss */
.playlists .list-container {
  background-color: #3a3a3a;
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  justify-content: center;
}
/* line 74, ../sass/home.scss */
.playlists .list-container ul {
  list-style-type: none;
  text-align: center;
}
/* line 78, ../sass/home.scss */
.playlists .list-container ul li {
  margin: 20px 0;
}
/* line 81, ../sass/home.scss */
.playlists .list-container ul li hr {
  margin: 0 auto;
  width: 50%;
  height: 2px;
  border: 0;
  background-color: #fff;
  opacity: 0.5;
}
/* line 89, ../sass/home.scss */
.playlists .list-container ul li a {
  font-family: 'Lato';
  font-size: 1.25em;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFF;
}

/* MENU */
/* line 104, ../sass/home.scss */
#nav-icon1 {
  position: relative;
  cursor: pointer;
}

/* line 109, ../sass/home.scss */
#nav-icon1 span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: black;
  border-radius: 25px;
  opacity: 1;
  left: 0;
}

/* line 120, ../sass/home.scss */
#nav-icon1 span:nth-child(1) {
  top: 0px;
}

/* line 124, ../sass/home.scss */
#nav-icon1 span:nth-child(2) {
  top: 10px;
  width: 80%;
}

/* line 129, ../sass/home.scss */
#nav-icon1 span:nth-child(3) {
  top: 20px;
}

/* END MENU */
/* line 135, ../sass/home.scss */
body {
  height: 100%;
  width: 100%;
}

/* line 140, ../sass/home.scss */
main {
  background-color: white;
  z-index: 2;
  position: relative;
  height: 100vh;
  left: 0;
  transition-duration: 0.75s;
  transition-timing-function: ease-in-out;
}
/* line 149, ../sass/home.scss */
main header {
  position: sticky;
  width: 100%;
  display: flex;
  height: 50px;
  box-shadow: 0px 2px 2px 0px #a8a8a8;
  z-index: 5;
  background-color: white;
}
/* line 158, ../sass/home.scss */
main header img {
  flex: 0 1 25px;
  height: 25px;
  align-self: center;
  margin-right: 15px;
}
/* line 165, ../sass/home.scss */
main header h2 {
  text-align: center;
  flex: 1 1 0;
  justify-content: center;
  align-self: center;
  font-family: 'Lato';
  font-size: 1.25em;
  font-weight: 400;
  text-transform: uppercase;
}
/* line 176, ../sass/home.scss */
main header #nav-icon1 {
  height: 22px;
  flex: 0 1 25px;
  align-self: center;
  margin-left: 15px;
}
/* line 183, ../sass/home.scss */
main header span.menu {
  height: 2px;
  background-color: black;
  flex: 0 1 20px;
}
/* line 188, ../sass/home.scss */
main header span.menu::after {
  content: '';
  height: 2px;
  background-color: black;
  flex: 0 1 20px;
}
/* line 195, ../sass/home.scss */
main header span.menu::before {
  content: '';
  height: 2px;
  background-color: black;
  flex: 0 1 20px;
}
/* line 204, ../sass/home.scss */
main section {
  width: 100%;
  margin: auto;
  height: calc(100% - 50px);
  background-color: #3a3a3a;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
/* line 213, ../sass/home.scss */
main section div.img-wrapper {
  width: 100%;
  position: relative;
}
/* line 218, ../sass/home.scss */
main section div.layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #3a3a3a;
  opacity: 0.75;
}
/* line 228, ../sass/home.scss */
main section img {
  width: 100%;
}
/* line 232, ../sass/home.scss */
main section div.cmds {
  height: 75px;
  background-color: #3a3a3a;
  display: flex;
  justify-content: space-around;
}
/* line 238, ../sass/home.scss */
main section div.cmds svg {
  height: 50%;
  flex: 1 0 0;
  align-self: center;
}
/* line 243, ../sass/home.scss */
main section div.cmds svg.active path {
  fill: #7a7a7a;
}
/* line 247, ../sass/home.scss */
main section div.cmds svg path {
  fill: white;
}
/* line 253, ../sass/home.scss */
main section div.titles {
  position: absolute;
  z-index: 3;
  bottom: 20px;
  left: 20px;
  font-size: 1.75em;
  font-family: 'Lato';
}
/* line 261, ../sass/home.scss */
main section div.titles p.title::after {
  content: '';
  background-color: white;
  height: 2px;
  margin-top: 10px;
  margin-bottom: 7px;
  display: block;
  width: 60px;
}
/* line 271, ../sass/home.scss */
main section div.titles p {
  color: white;
}

/* line 278, ../sass/home.scss */
div.timer {
  display: flex;
  justify-content: space-around;
}
/* line 282, ../sass/home.scss */
div.timer button#next {
  position: relative;
  min-width: 100px;
  width: 50%;
  height: 50px;
  text-align: center;
  border: none;
  color: #3a3a3a;
  font-size: 1.2em;
  text-transform: uppercase;
  outline: 0;
  cursor: pointer;
  background: white;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(right, white, #3a3a3a);
  /*Safari 5.1-6*/
  background: -o-linear-gradient(left, white, #3a3a3a);
  /*Opera 11.1-12*/
  background: -moz-linear-gradient(left, white, #3a3a3a);
  /*Fx 3.6-15*/
  background: linear-gradient(to left, white, #3a3a3a);
  /*Standard*/
}
/* line 301, ../sass/home.scss */
div.timer button#next::after {
  content: '';
  position: absolute;
  top: 0;
  width: 0;
  height: 0;
  border-style: solid;
  right: -50px;
  border-width: 25px;
  border-color: transparent transparent transparent white;
}
/* line 315, ../sass/home.scss */
div.timer div.album-preview div.titles {
  vertical-align: super;
  position: inherit;
  font-size: 1em;
  display: inline-block;
  text-align: right;
  margin-right: 10px;
}
/* line 323, ../sass/home.scss */
div.timer div.album-preview div.titles p.title::after {
  content: normal;
}
/* line 328, ../sass/home.scss */
div.timer div.album-preview img {
  height: 50px;
  width: 50px;
}

/* line 335, ../sass/home.scss */
div.progress-wrapper {
  height: 8px;
  margin: 0 auto;
  background-color: #7a7a7a;
  display: block;
  position: relative;
}
/* line 342, ../sass/home.scss */
div.progress-wrapper::before, div.progress-wrapper::after {
  position: absolute;
  top: -25px;
  left: 5px;
  font-family: 'Lato', sans-serif;
  color: white;
  opacity: 0;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}
/* line 353, ../sass/home.scss */
div.progress-wrapper::before {
  content: '2:53';
}
/* line 357, ../sass/home.scss */
div.progress-wrapper::after {
  content: '3:13';
  left: inherit;
  right: 5px;
}
/* line 363, ../sass/home.scss */
div.progress-wrapper div.progress {
  width: 70%;
  height: 100%;
  background-color: white;
}

/* line 370, ../sass/home.scss */
div.bottom:hover div.progress-wrapper::before, div.bottom:hover div.progress-wrapper::after {
  opacity: 1;
}

/* line 374, ../sass/home.scss */
div.sound-wrapper {
  height: 8px;
  margin: 0 auto;
  background-color: #7a7a7a;
  display: block;
}
/* line 379, ../sass/home.scss */
div.sound-wrapper div.sound {
  width: 56%;
  height: 100%;
  background-color: white;
}
