$main-color: rgb(58, 58, 58);
$light: #7a7a7a;
$red: #C32C32;

html,body {
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $main-color;
}

.playlists {
  transition-duration: 0.75s;
  transition-timing-function: ease-in-out;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100vw;
  z-index: 1;
  left: -50vw;

  .playlists-header {
    height: 50px;
    display: flex;
    flex: 0 1 auto;

    img {
      margin-left: 15px;
      flex: 0 1 25px;
      width: 25px;
      height:25px;
      align-self: center;
    }

    h2 {
      text-align: center;
      flex: 1 1 0;
      justify-content: center;
      align-self: center;
      font-family: 'Lato';
      font-size: 1.25em;
      font-weight: 400;
      text-transform: uppercase;
    }

    button {
      border:0;
      background-color: transparent;

      &:focus {
        outline: none;
      }
      svg {
        margin-right: 15px;
        flex: 0 1 22px;
        width: 22px;
        height: auto;
      }
    }
  }

  .list-container {
    background-color: rgb(58, 58, 58);
    display: flex;
    flex: 1 1 auto;
    align-items: center;
    justify-content: center;

    ul {
      list-style-type: none;
      text-align: center;

      li {
        margin: 20px 0;

        hr {
          margin: 0 auto;
          width: 50%;
          height: 2px;
          border: 0;
          background-color: #fff;
          opacity: 0.5;
        }
        a {
          font-family: 'Lato';
          font-size: 1.25em;
          text-transform: uppercase;
          text-decoration: none;
          color: #FFF;
        }
      }
    }
  }
}


/* MENU */

#nav-icon1 {
  position: relative;
  cursor: pointer;
}

#nav-icon1 span{
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: black;
  border-radius: 25px;
  opacity: 1;
  left: 0;
}

#nav-icon1 span:nth-child(1) {
  top: 0px;
}

#nav-icon1 span:nth-child(2) {
  top: 10px;
  width: 80%;
}

#nav-icon1 span:nth-child(3) {
  top: 20px;
}

/* END MENU */

body {
  height: 100%;
  width: 100%;
}

main {
  background-color: white;
  z-index: 2;
  position: relative;
  height: 100vh;
  left:0;
  transition-duration: 0.75s;
  transition-timing-function: ease-in-out;

  header {
    position: sticky;
    width: 100%;
    display: flex;
    height: 50px;
    box-shadow: 0px 2px 2px 0px rgb(168, 168, 168);
    z-index: 5;
    background-color: white;

    img {
      flex: 0 1 25px;
      height: 25px;
      align-self: center;
      margin-right: 15px;
    }

    h2 {
      text-align: center;
      flex: 1 1 0;
      justify-content: center;
      align-self: center;
      font-family: 'Lato';
      font-size: 1.25em;
      font-weight: 400;
      text-transform: uppercase;
    }

    #nav-icon1{
      height: 22px;
      flex: 0 1 25px;
      align-self: center;
      margin-left: 15px;
    }

    span.menu {
      height: 2px;
      background-color: black;
      flex: 0 1 20px;

      &::after {
        content: '';
        height: 2px;
        background-color: black;
        flex: 0 1 20px;
      }

      &::before {
        content: '';
        height: 2px;
        background-color: black;
        flex: 0 1 20px;
      }
    }
  }

  section {
    width: 100%;
    margin: auto;
    height: calc(100% - 50px);
    background-color: $main-color;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    div.img-wrapper{
      width: 100%;
      position: relative;
    }

    div.layer {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgb(58, 58, 58);
      opacity: 0.75;
    }

    img {
      width: 100%;
    }

    div.cmds {
      height: 75px;
      background-color: $main-color;
      display: flex;
      justify-content: space-around;

      svg{
        height: 50%;
        flex: 1 0 0;
        align-self: center;

        &.active path{
          fill: $light;
        }

        path {
          fill: white;
        }
      }
    }

    div.titles {
      position: absolute;
      z-index: 3;
      bottom: 20px;
      left: 20px;
      font-size: 1.75em;
      font-family: 'Lato';

      p.title::after {
        content: '';
        background-color: white;
        height: 2px;
        margin-top: 10px;
        margin-bottom: 7px;
        display: block;
        width: 60px;
      }

      p {
        color: white;
      }
    }
  }
}

div.timer {
  display: flex;
  justify-content: space-around;

  button#next {
    position: relative;
    min-width: 100px;
    width: 50%;
    height: 50px;
    text-align: center;
    border: none;
    color: $main-color;
    font-size: 1.2em;
    text-transform: uppercase;
    outline: 0;
    cursor: pointer;
    background: white; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(right, white,$main-color); /*Safari 5.1-6*/
    background: -o-linear-gradient(left, white,$main-color); /*Opera 11.1-12*/
    background: -moz-linear-gradient(left, white,$main-color); /*Fx 3.6-15*/
    background: linear-gradient(to left, white, $main-color); /*Standard*/


    &::after{
      content: '';
      position: absolute;
      top: 0;
      width: 0;
      height: 0;
      border-style: solid;
      right: -50px;
      border-width: 25px;
      border-color: transparent transparent transparent white;
    }
  }

  div.album-preview {
    div.titles {
      vertical-align: super;
      position: inherit;
      font-size: 1em;
      display: inline-block;
      text-align: right;
      margin-right: 10px;

      p.title::after {
        content: normal;
      }
    }

    img {
      height: 50px;
      width: 50px;
    }
  }
}

div.progress-wrapper {
  height: 8px;
  margin: 0 auto;
  background-color: $light;
  display: block;
  position: relative;

  &::before, &::after{
    position: absolute;
    top: -25px;
    left: 5px;
    font-family: 'Lato', sans-serif;
    color: white;
    opacity: 0;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
  }

  &::before {
    content:'2:53';
  }

  &::after {
    content:'3:13';
    left: inherit;
    right: 5px;
  }

  div.progress {
    width: 70%;
    height: 100%;
    background-color: white;
  }
}

div.bottom:hover div.progress-wrapper::before, div.bottom:hover div.progress-wrapper::after{
  opacity: 1;
}

div.sound-wrapper {
  height: 8px;
  margin: 0 auto;
  background-color: $light;
  display: block;
  div.sound {
    width: 56%;
    height: 100%;
    background-color: white;
  }
}
